*{
    background-color: antiquewhite;
    font-family: 'Open Sans', sans-serif;
}

.user_connect{
text-align: center;
width: 100vw;
height: 350px;

}


.new_user_connect{
text-align: center;
width: 100vw;
height: 350px;

}

