* {
    background-color: ivory;
    font-family: 'Open Sans';
}

#contact_info {
    display: flex;
    justify-content: space-between;
}

#fbox_1 {
    float: right;
}

#galerie_foto {
    text-align: center;
}

.center_position {
    text-align: center;
    font-size: 18px;
}

.text_prim {
    text-align: center;
}

.cont {
    text-align: center;
}

.pagina_principala {
    text-align: center;

    
}

.bot_feedback {
    text-align: center;
}


.lawinfo {
    text-align: center;
}

